.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.rowInput{
    margin-bottom: 10px;
}

.columnInput{
    margin-bottom: 10px;
}

.btn{
    cursor: pointer;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.spreadsheet__table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.column-header{
    border: 1px solid #999999;
    background-color:  #CCCCCC;
    width: 70px;
}
.row-number{
    border: 1px solid #999999;
    background-color:  #CCCCCC;
    width: 50px;

}
.main-cell{
    border: 1px solid #999999;
    background-color:  #CCCCCC;
    width: 50px;
    text-align: center;
}
.cell{
    border: 1px solid #999999;
    padding: 0;
    max-width: 68px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/

}

.selected {
    border: 2px solid black;
}
.input {
    max-width: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    outline: none;
    border: none;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.textarea{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}
.btnBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.exportBtn{
    margin-right: 30px;
}

.inputFile{
    display: none;
}
